RFC 0264: Sig Decorator Discussion

On the call today, it was discussed that we deprecate the old form of the sig decorator which is described in RFC 0264. To replace this functionality, we should be relying on RFC 0066 (using standard JWS), to handle the signing of a full message through the use of the `pack()` and `unpack()` API.

Additionally, to handle the signing of a specific piece of data, we'll move to add signing capabilities to the `~attach` decorator which would use standard JWS.

Implementors of this new method should support both JWS Compact serialization and JWS JSON serialization. Compact serialization would be used for signing with a single signer. JSON serialization would be used if multiple signers are signing the message.

Is there anyone who would like to help deprecate RFC 0264 (sig decorators) and update RFC 0066 (non-repudiable signatures) and RFC 0017 (attachments)? I can take on handling of the deprecating 0264. Having help crispening the language in 0066 would be useful as well. Would one of the authors ( @dhh1128 @TelegramSam ) be willing to help update 0017? We'll also need to find the instances where decorators are being used and update the functionality to be compatible with this work.



Handling this discussion in PR #267 This will be consolidated there instead.