RFC 0094: Why routing agents, why onion routing

@swcurran @TelegramSam 

[Aries RFC 0094](https://github.com/hyperledger/aries-rfcs/blob/master/concepts/0094-cross-domain-messaging/README.md) introduces routing agents and routing envelopes. I am having serious second thoughts about this, also in relationship with [Aries RFC 0025](https://github.com/hyperledger/aries-rfcs/tree/master/features/0025-didcomm-transports) about DIDComm Transports.

Here is my reasoning.
- Use HTTP(S) as transport, if you just need a simple no-thrills service endpoint.
- Use websockets as transport, if you need an efficient way to transmit multiple messages without the overhead of individual requests.
- Use XMPP as transport, if you need an effective transport for incoming DID-Communication messages directly to mobile agents, like smartphones.
- Use SMTP as transport, if you need a post-office type of service end-point.
- Use TOR as transport, if you need the privacy of onion routing.
Adding more transports is easy: just add them to the [Aries RFC 0025](https://github.com/hyperledger/aries-rfcs/tree/master/features/0025-didcomm-transports) with a reference to how messages are encapsulated, cf [Aries RFC 0024](https://github.com/hyperledger/aries-rfcs/tree/master/features/0024-didcomm-over-xmpp) on DIDCom over XMPP.

I argue that the DIDCom layer should be kept cleanly separated from the routing layer, which is a best internet practice. We are not routing experts. It makes no sense to me that we are trying to reinvent the wheel and introduce routing at the DIDCom layer, especially onion routing. If a party needs high privacy for incoming DIDCom messages, then advertise a TOR endpoint (e.g. 32rfckwuorlf4dlv.onion). If a party needs high privacy for outgoing messages, then route the messages via the TOR network and a public exit node.

As for the rationale of RFC 0094 ("what exactly does Alice have to know about Bob's domain to send Bob a message?"), my preferred answer is "just Bob's service endpoint(s) and associated encryption key(s)". It is a best telco/internet practice not to expose the inner workings of one party to another.

Note that I am aware of the "accepted" status of RFC 0094. I still hope I am allowed to question it.

Oskar



An interesting suggestion, taking me back to the original vision for the "Agent2Agent" messaging we were after. Here are my thoughts about the proposal.

First, there is nothing in the protocol that prevents doing exactly what you say.  The "DIDcommunication" service endpoint can have just an endpoint and nulls in the RoutingKeys array, accomplishing what you propose. Agents would have to support the full range of outbound transport that others need, but that could be handled by a proxy that maps from your agent's transport to any other.

The core driver to the acceptance of RRC 0094 is correlation. If we do as you propose (and as may still happen), agent developers and ultimately users will not try to create solutions that push against correlation. They will do the simple thing, have one address for all their DIDs, one endpoint and all good. That's not the goal and if we don't even try to give developers tools to push against correlation, it won't happen.

As evidence, I would point to your XMPP RFC.  It gives a simple, elegant solution of the user having a simple XMPP address, and provides an "if you care about correlation, use this complicated, probably won't work, alternative". The so-called "average" developer, not knowing a lot about correlation, will ignore that part of the RFC, build the easy solution, tell the user to get an XMPP address, and the user won't know any better.

You might ask, if we care so much about correlation, why not just use TOR?  There are two reasons we didn't do that. First, TOR does a whole lot more than is needed for what we are doing, so we get a lot of baggage that is not relevant. Second, TOR has an reputation, earned or not, as being by and for "radicals", and for what we are trying to achieve, that matters.

Last point I would add is that while perhaps the group does not have the deep experience of building transport protocols, we also don't have the burden of supporting the many use cases that are supported in the mature transports that you mention. And we do have some pretty awesome and deep experience in 2019-style secure communications. I'm in awe of that.

Hi Stephan,

Thank you for your detailed response.

If I understand you correctly, the main goal of the onion routing in DIDcom is preventing correlation. That is, any eavesdropper may monitor your outgoing message, but will have a hard time deducing which of those messages go to which persons. Ditto for an eavesdropper that is monitoring incoming messages. Correct?

Your point about XMPP makes total sense. It is absolutely impractical to manage large lists of XMPP addresses and have the other side rotate XMPP addresses after single use. The purpose of the XMPP solution is to make consumers independent of any DIDcom routing agent, but that is indeed at a privacy/correlation cost.

Your reference to TOR and its reputation is exactly why I worry about onion routing in DIDcom. Do we want to offer "subpoena-grade privacy" or "drug-dealer-grade privacy"? However, that difference may be business-case based and not technical. A "DIDcom Service Provider" will likely not relay outgoing or incoming messages for parties that are not its customer, similar to how email service providers refuse this to prevent spam.

Perhaps I should write a PR to include such business role and business model considerations.

Oskar



Hi Oskar,

I would add one more point to the correlation mechanism.  If you are using a common endpoint for your DIDs, then if those DIDs are compared, your endpoint can be correlated.  If you are publishing your DIDs on a public ledger, this is open to the world - someone just needs to read the DIDs on the ledger. If you are using did:peer DIDs, this is can be done by colluding parties.  Facebook and Google match the DIDs they hold and hence match the data each hold about you.

I'm not sure what is the difference between the two levels of privacy and agree with you that it is the business cases that matters.  I did hear the Attorney General of the US yesterday decrying encryption because the government can't listen.  Eventually, the two views are going to collide...

Closed per discussion in Aries WG Call 2019-11-20. Please reopen if this should not have been closed